@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik-<uniquifier> {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

@layer components {
    .input{
        @apply border-2 border-[#878787] rounded mb-12 mt-3 text-2xl p-4 w-[565px]
    } 
    .button{
        @apply inline-flex justify-center items-center self-center gap-7 w-64 py-4 px-4 mt-12 bg-[#2D2D2D] rounded-md text-zinc-50 text-2xl
    } 
}